<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>todo</title>
  <link rel="stylesheet" type="text/css" media="screen" href="index.css">
</head>
  
<body ng-app="todo">
  <div ng-controller="todo-controller">
    
    <div class="filter-actions" 
         style="margin-bottom: 20px;">
      <div 
           style="margin-bottom: 10px;">
        Filter-Actions
      </div>
      <button 
              ng-repeat="filterType in FILTER_TYPES"
              style="display:inline-block;margin:3px;"
              ng-click="onFilterClick(filterType)">
         {{filterType.name}}
      </button>
    </div>
    
    <div 
           style="margin:0 20px 20px 0;">
        Enter todo Item
      <input 
           class="list-input" 
           ng-model="model.newValue" 
           ng-keydown=
           "$event.which === 13 && onEnter()">
      </div>
    

    <div 
           style="margin-bottom: 10px;">
        Todo Items
      </div>
    
      <ul>
        <li 
            ng-repeat="todo in getTodoList()" 
            ng-click="onListClick(todo)"
            class="{{FILTER_TYPES[todo.filterType].name}}">      
          {{todo.name}}
        </li>
      </ul>

  </div>
  
</body>
<script type="text/javascript" src="index.js"></script>
</html>